[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/teertha
[access "refs/for/refs/*"]
	read = group user/teertha
	push = group user/teertha
	label-Code-Review = -2..+2 group user/teertha
	label-Verified = -1..+1 group user/teertha
	rebase = group user/teertha
	removeReviewer = group user/teertha
	submit = group user/teertha
[access "refs/heads/*"]
	read = group user/teertha
	create = group user/teertha
	push = +force group user/teertha
	pushMerge = group user/teertha
[access "refs/tags/*"]
	push = +force group user/teertha
	pushTag = group user/teertha
	pushSignedTag = group user/teertha
